<?xml version="1.0"?>
<robot name="open_manipulator_x" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- 기존 로봇 포함 -->
  <xacro:include filename="$(find open_manipulator_x_description)/urdf/open_manipulator_x.urdf.xacro"/>
  
  <!-- D435 카메라 포함 -->
  <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro"/>

  <!-- 로봇 생성 -->
  <xacro:open_manipulator_x prefix="" />
  
  <!-- link5에 D435 카메라 추가 -->
  <xacro:sensor_d435 parent="link5" name="camera" use_nominal_extrinsics="true">
    <origin xyz="0.06138 0.0 0.05415" rpy="0 0 0"/>
  </xacro:sensor_d435>

</robot>
